{% extends "panel.html" %}


{% block txt_lv1 %}COLABORADOR{% endblock txt_lv1 %}
{% block txt_lv2 %}Creación{% endblock txt_lv2 %}

{% block section_1 %}
<div class="container border">
	<div class="row">
		<div class="col-6 mx-auto">
			{% if form.foto_perfil.value == null or form.foto_perfil.value == '' %}
				<img src="/media/photos/user.png" class="img-thumbnail" style="height:auto; width:200px;">
			{% else %}
				<img src="/media/{{form.foto_perfil.value}}" class="img-thumbnail" style="height:auto; width:200px;">
			{% endif %}

			<hr>
			<form method="post" enctype = "multipart/form-data"> 
				{% csrf_token %}
				<table class="">
			        {{ form.as_table }}
			    </table><hr>
				<a href="javascript:history.back()" class="btn btn-danger">CANCELAR</a>
				<button type="submit" class="btn btn-info">GUARDAR</button>
			</form>
			<hr>

		</div>
	</div>





			
</div> 
{% endblock section_1 %}
