{% extends "panel.html" %}
{% load staticfiles %}






{% block blck_static_head %} 
<!-- XLSX -->
<script src="{% static 'xlsx/xlsx.full.min.js' %}"> </script>
<script src="{% static 'xlsx/FileSaver.min.js' %}"> </script>
<script src="{% static 'xlsx/tableexport.min.js' %}"> </script>

{% endblock blck_static_head %}







{% block txt_lv1 %}PLANTILLA DE CARGA MASIVA DE INCIDENCIAS{% endblock txt_lv1 %}
{% block txt_lv2 %}Exportar{% endblock txt_lv2 %}

{% block section_1 %}


	
{% if object_list %}


	<div class="tabla tab_exp_inc">
		<a href="#" class="desc" onclick="tableToExcel('tabla', 'minifex')">Descargar..   <i class="fa fa-file-excel-o"></i></a>

		<!--a id="btnExportar" class="desc" >Plnatilla de carga masiva ... <i class="fa fa-file-excel-o"></i></a-->
		<input type="text" id="nom_xlsx" value="Plantilla_de_carga_de_Incidencias" hidden>
		<input type="text" id="nom_hoja" value="Incidencias" hidden>


		<table id="tabla">

			<tr>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
			</tr>

			<tr style="text-align: center; font-weight: bold; color: #FFF;">
				<td></td>
				<td colspan="7" style="background: #000000;"><p>Campos obligatorios para la Creación</p></td>
			</tr>

			<tr  style="text-align: center; font-weight: bold; color: #FFF;">   <!--  Verde -->
				<td style="background: #9CD774;"><p>Id Incidencia</p></td>

				<td style="background: #B42E24;">Id Petición / OT</td>   <!--  Ginda -->
				<td style="background: #B42E24;">Nombre Incidencia</td>
				<td style="background: #B42E24;">Localizada En</td>
				<td style="background: #B42E24;">Tipo Incidencia</td>
				<td style="background: #B42E24;">Descripción</td>
				<td style="background: #B42E24;">Fecha Inicio</td>
				<td style="background: #B42E24;">Fecha Fin</td>

				<td style="background: #9CD774;">Esfuerzo (HH)</td>  <!--  Verde -->
				<td style="background: #9CD774;">Urgencia</td>
				<td style="background: #9CD774;">Impacto</td>
				<td style="background: #9CD774;">Resuelta por Cliente</td>
				<td style="background: #9CD774;">Prioridad</td>
				<td style="background: #9CD774;">Fecha Prevista Centro</td>
				<td style="background: #9CD774;">Tarea Causante</td>
				<td style="background: #9CD774;">OT Corrector</td>
				<td style="background: #9CD774;">ACC Corrector</td>
				<td style="background: #9CD774;">Estado</td>
				<td style="background: #9CD774;">Convertible en Mejora</td>
				<td style="background: #9CD774;">Comentario al Desestimar</td>

			</tr>

			<tr>
				<td style="background: #9CD774;color: #FFF;"></td>  <!--  Verde -->

				<td style="background: #B42E24;"></td>   <!--  Ginda -->
				<td style="background: #B42E24;"></td>
				<td style="background: #B42E24;"></td>
				<td style="background: #B42E24;"></td>
				<td style="background: #B42E24;"></td>
				<td style="background: #B42E24;"></td>
				<td style="background: #B42E24;"></td>

				<td style="background: #9CD774;"></td>  <!--  Verde -->
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>
				<td style="background: #9CD774;"></td>

			</tr>

			{% for ob in object_list %}
					<tr>
						<td ></td>
						<td >{{ ob.pet_ot}}</td>
						<td >{{ ob.nombre}}</td>
						<td >{{ ob.loc_en}}</td>
						<td >{{ ob.tip_inc}}</td>

						<td >{{ ob.descr}}</td>
						<td >{{ ob.fecha_ini}}</td>
						<td >{{ ob.fecha_fin}}</td>
						<td >{{ ob.esfuerzo}}</td>
						<td ></td>

						<td ></td>
						<td ></td>
						<td ></td>
						<td ></td>
						<td ></td>

						<td ></td>
						<td ></td>
						<td ></td>
						<td ></td>
						<td ></td>
					</tr>

			{% endfor %}



		</table>



	</div>


















	<br><hr><br>




	<div class="trj">	
		<div >
            <h5>Manual </h5>
            <li><b>1°</b> El reporte descargable puede subirse directamente a fenix.</li>
        </div>
	</div><br>






{% else %}
	<p class="alert alert-warning"> {{msj}}</p>
{% endif %}



{% endblock section_1 %}





{% block blck_static_foot %} 
<!-- XLSX -->
<script src="{% static 'xlsx/script.js' %}"> </script>

{% endblock blck_static_foot %}
