{% extends "panel.html" %}


{% block txt_lv1 %}PAIS{% endblock txt_lv1 %}
{% block txt_lv2 %}Listar{% endblock txt_lv2 %}

{% block section_1 %}





{% if object_list %}


	<div class="tabla tab_mant">
		<a class="desc" onclick="tableToExcel('tabla1', 'minifex')">Descargar..  <i class="fa fa-file-excel-o"></i></a>
		{% if perms.gestion.es_leader %}
		<a href="{% url 'pai_cre' %}" class="desc">Registrar.. <i class="fa fa-plus-circle"></i></a>
		{% endif %}

		<table id="tabla1">
			<thead>
				<tr style="background-color: #9EA665;color: white;
							line-height: 1.5em; text-align:center;">
					<td><i class="fa fa-edit"></i></td>
					<td>Codigo</td>
					<td>Pais</td>
					<td>Codigo Telefónico</td>
				</tr>
			</thead>
			<tbody>
				{% for ob in object_list %}
					<tr>
					{% if perms.gestion.es_leader %}
						<td>
							<a href="{% url 'pai_edi' ob.pk %}"><i class="fa fa-edit"></i></a>
							<a href="{% url 'pai_eli' ob.pk %}"><i class="fa fa-trash"></i></a><br>
						</td>
					{% else %} <td></td> {% endif %}
						
						<td>{{ ob.codigo }}</td>
						<td>{{ ob.pais }}</td>
						<td>{{ ob.codigo_tel }}</td>
					</tr> 
				{% endfor %}

			</tbody>
		</table>
	</div>
{% else %}
	<p class="alert alert-warning"> No se encontraron datos.</p>
{% endif %}


{% endblock section_1 %}


